body{
	margin: 0;
	padding: 0;
	text-align: center;
	background-position: center 0px;
	background-image: url(../images/ghana.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-color: coral;
}
h1{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: bolder;
	text-align: center;
	color:green;
	margin-bottom: 0px;
	margin-top: 10px;
	padding-bottom: 2px;
	font-size: 47px;
}
.overlay{
	background-color: crimson;
	margin-left: 25%;
	margin-right: 15%;
	opacity: 0.9;
	border-radius: 10px;
}

h2{
	font-family: monospace;
	font-weight: bold;
	font-size: 35px;
	color:honeydew;
	text-align: center;
}
h3{
	font-family:monospace;
	font-weight: bold;
	font-size: 10px;
	color:honeydew;
	text-align: center;
}
.form{
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.form-group{
	color:turquoise;
	font-weight: 550;
	font-size: 18px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-check-label{
	color: yellow;
}
input[type+"radio"]{
	-webkit-transform:scale(1.5);
	transform: scale(1.5);
}
@media only screen and (max-width:400px){
  .overlay{  margin-left:1%;
   margin-right:1%;
  }
}
@media only screen and (max-width:500px){
  .overlay{
   margin-left:1%;
   margin-right:1%;
}
.card{
 background:blanchedalmond ;
}
.card-body{
  color:blue;
 }
.card-deck{
 padding-bottom: 9;
 font-weight:600;
 font-family: cursive;
 font-size: 18px;
 }
  .card-text a:hover{
    color:black;
    text-decoration: none;
 }
}